//this is a partial sass file with the under score

*,
*::after,
*::before {
  /*to prevent random behavors*/
  margin: 0;
  padding: 0;
  box-sizing: inherit; /*better practice*/
}

html {
  //this defines what 1rem is
  /*font-size: 10px; /*10px cuse it will make easier to make the rems calculations*/
  font-size: 62.5%; /*It is better practice to use porcentage.. the default font size is 16px divided by 10 (cause we want 10px) is 62.5%... this allows the user to zoom in in or webpage*/
}

body {
  box-sizing: border-box; /*better practice*/
}
